option_settings:
  aws:elasticbeanstalk:application:environment:
    PARSE_MOUNT: "/parse"
    APP_ID: "ReplaceWithAppID"
    MASTER_KEY: "ReplaceWithMasterKey"
    DATABASE_URI: "ReplaceWithDatabaseURI"
    NODE_ENV: "production"
    SERVER_URL: "http://myappname.elasticbeanstalk.com/parse"
    EMAIL_APP_NAME: "ReplaceWithAppName"
    EMAIL_ADAPTER: "ReplaceWihModuleName"
    EMAIL_FROM: "ReplaceWithFromAddress"
    EMAIL_DOMAIN: "mg.domain.com"
    EMAIL_API_KEY: "ReplaceWithMailGunApiKey"
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"